{% extends 'base.html' %}

{% block content %}
<div class="card shadow-lg border-0 rounded-4 col-md-6 mx-auto">
    <div class="card-header bg-success text-white text-center py-3">
        <h3>Add Student</h3>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" name="name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Mobile</label>
                <input type="text" name="mobile" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">City</label>
                <input type="text" name="city" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success w-100">Save Student</button>
            <a href="{% url 'student_list' %}" class="btn btn-secondary w-100 mt-2">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}